{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('gallery/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('gallery/css/bootstrap-select.min.css') }}">
	<link rel="stylesheet" href="{{ asset('gallery/css/magnific-popup.css') }}">
	<link rel="stylesheet" href="{{ asset('gallery/css/style.css') }}">


{% endblock %}
{% block body %}
{{ dump(panier) }}
 <div class="body_content">
   
    <section class="pt40 pb0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-title">
              <h2 class="title">Votre panier</h2>
              <p class="text mb-0">Give your visitor a smooth online experience with a solid UX design</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Shop Cart Area -->
    <section class="shop-checkout pt-0">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
        <div class="col-lg-8">
          <div class="shopping_cart_table table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th class="pl30" scope="col">Produit</th>
                  <th class="ps-0" scope="col">Prix unitaire</th>
                  <th class="ps-0" scope="col">Quantité</th>
                  <th class="ps-0" scope="col">Total</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="table_body">
              {% if panier.forfait is not empty %}
                <tr>
                  <td class="pl30 ">
                    <div class="cart_list d-flex align-items-center">
                      <div class="cart-img"><img src="images/shop/cart-1.png" alt="cart-1.png"></div>
                      <h5 class="mb-0">forfait : {{ panier.forfait.name }}</h5>
                    </div>
                  </td>
                  <td><div class="cart-price">{{ panier.forfait.price }} €</div></td>
                  <td>
                    <div class="cart-quantity">
                      <div class="quantity-block">
                        
                        <input class="quantity-num" type="number" value="1" />
                        
                      </div>
                    </div>
                    <!-- <input class="cart_count text-center" placeholder="2" type="number"> -->
                  </td>
                  <td><div class="cart-subtotal pl5">{{ panier.forfait.price }} €</div></td>
                  <td><div class="cart-delete"><span class="flaticon-delete"></span></div></td>
                </tr>
              {% endif %}
              {% if panier.optionLists is not empty %}
                {% for option in panier.optionLists %}
                {{ dump(option) }}
                    <tr>
                  <td class="pl30 ">
                    <div class="cart_list d-flex align-items-center">
                      <div class="cart-img"><img src="{{ vich_uploader_asset(option.photos, 'photoFile')|imagine_filter('thumbnail') }}" alt="cart-1.png"></div>
                      <h5 class="mb-0">{{option.options.name}} : {{option.options.description|slice(0,50)}} </h5>
                    </div>
                  </td>
                  <td><div class="cart-price">{{option.options.price}} €</div></td>
                  <td>
                    <div class="cart-quantity">
                      <div class="quantity-block">
                        <button class="quantity-arrow-minus"> <span class="fa fa-minus"></span> </button>
                        <input class="quantity-num" type="number" value="{{option.quantity}}" />
                        <button class="quantity-arrow-plus"> <span class="fas fa-plus"></span> </button>
                      </div>
                    </div>
                    <!-- <input class="cart_count text-center" placeholder="2" type="number"> -->
                  </td>
                  <td><div class="cart-subtotal pl5">{{option.options.price}} €</div></td>
                  <td><div class="cart-delete"><span class="flaticon-delete"></span></div></td>
                </tr>
                {% endfor %}
                
              {% endif %}
                
                
                
              </tbody>
            </table>
            <div class="coupon-form mt30 mb30-md">
              <div class="d-md-flex align-items-center justify-content-between">
                <div class="d-md-flex justify-content-between">
                  <input type="text" class="form-control coupon_input mb10-sm" placeholder="Coupon Code">
                  <a class="ud-btn btn-thm flex-shrink-0 ml20 ml0-sm" href="#">Apply Coupon<i class="fal fa-arrow-right-long"></i></a>
                </div>
                <div class="btn-lsit1">
                  <a href="#" class="ud-btn btn-light-thm">Update Cart<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="shop-sidebar ms-lg-auto">
            <div class="order_sidebar_widget default-box-shadow1">
              <h4 class="title">Cart Totals</h4>
              <p class="text bdrb1 pb10">Subtotal <span class="float-end">$1.298</span></p>
              <p class="text">Total <span class="float-end">$3.298</span></p>
              <div class="d-grid mt40">
                <a class="ud-btn btn-thm" href="page-shop-checkout.html">Proceed to Checkout<i class="fal fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>

    <!-- Our Footer --> 
   
  </div>
</div>

{% endblock %}
