{% extends 'base.html.twig' %}
{% block body %}


	<div class="container mt-3">
	{% for type, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


		<div class="row">

			{% for licencie in licencies %}
				<div class="col-lg-3 col-md-6">
					<div class="card h-100 mx-auto">
						{#  récupération de la première photo mais sous condition de présence d'image.
																																																																									                        Si l'image est absente, on récupère l'image par défaut #}
						{% if licencie['photos'][0] is defined %}

							<img class="card-img-top img-fluid " src={{ vich_uploader_asset(licencie['photos'][0])|imagine_filter('watermark') }} alt={{ licencie['photos'][0].path }}>

						{% else %}
							<img class="card-img-top img-fluid " src="https://via.placeholder.com/640x480.png/00bb99?text=imageDefaut" alt={{ licencie['licencie'].firstname }}>
						{% endif %}
						<div class="card-body flex-grow-1">
							<h2 class="card-title ">{{ licencie['licencie'].firstname }}
								{{ licencie['licencie'].lastname }}</h2>
							</h2>
						{% for club in licencie.club %}
							
							<h6>
								<i class="bi bi-people-fill"></i>
								{{ club.name }}
								-
								<i class="bi bi-tag-fill"></i>

							</h6>
						{% endfor %}
						
							<div class="row">
								<div class="col-md-8 p-4">
									<h4 class="title">{{ licencie['club'].name }}</h4>
									<ul class="list-unstyled">

										<li class="media d-flex align-items-start">
										{% if licencie['club'] is not empty %}

											<img class="d-flex me-3" src="{{ vich_uploader_asset(licencie['club'],'logoFile') }}" width="60" alt="logo club">
										{% else %}
											<img class="d-flex me-3" src="https://via.placeholder.com/60" alt="icon par défault">
										{% endif %}
											<div class="media-body">
											
											{% if licencie['groupe'].name is defined %}

												<h6 class="mt-0 mb-1">{{ licencie['groupe'].name }}</h6>
											{% endif %}
											</div>
										</li>


									</ul>


								</div>
							</div>

						</div>
					



						<a class="ud-btn btn-thm" href="{{ path('app_photo_gallery',{'slug' : licencie['licencie'].slug}) }}" >Accéder aux photos</a>
						
				</div>
			</div>
			{% endfor %}


	</div>
</div>
{% endblock %}
