{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}
	{{ dump(user) }}
	<div class="wrapper ovh">
		<div class="preloader"></div>

		<section class="breadcumb-section pt-0">
			<div class="cta-employee-single freelancer-single-style mx-auto maxw1700 pt120 pt60-sm pb120 pb60-sm bdrs16 position-relative overflow-hidden d-flex align-items-center mx20-lg px30-lg"></div>
		</section>

		<!-- Service Details -->
		<section class="pt10 pb90 pb30-md">
			<div class="container">
				<div class="row wow fadeInUp">
					<div class="col-lg-8">
						<div class="service-about">
							<h4 class="mb20">Informations complémentaires</h4>
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">licencié(s)</h4>

									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Nom</th>
													<th scope="col">Prénom</th>
													<th scope="col">Club</th>
												</tr>
											</thead>
											<tbody>
												{% if user.licencies %}
													{% for licencie in user.licencies %}


														<tr>
															<th scope="row">{{licencie.id}}</th>
															<td>{{licencie.firstname}}</td>
															<td>{{licencie.lastname}}</td>
															<td>{{licencie.club.name}}</td>
														</tr>

													{% endfor %}

												{% endif %}

											</tbody>
										</table>
									</div>
									
								</div>

							</div>
							{# autre tableau pour les commandes #}
							<div class="card mt-4">
								<div class="card-body">
									<h4 class="card-title">Commandes</h4>

									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Date de commande</th>
													<th scope="col">Forfait</th>
													<th scope="col">Licencié</th>
													<th scope="col">Montant</th>
												</tr>
											</thead>
											<tbody>
												{% if user.orders %}
													{% for order in user.orders %}


														<tr>
															<th scope="row">{{order.id}}</th>
															<td>{{order.paymentDate|format_datetime('short', 'none', locale='fr') }}</td>
															<td>{{order.forfait.name}}</td>

															<td>{{order.licencie}}
															</td>
															<td>{{order.amount |format_currency('EUR', {rounding_mode: 'floor'})}}</td>
														</tr>

													{% endfor %}

												{% endif %}

											</tbody>
										</table>
									</div>
								</div>

							</div>

						</div>

					</div>
					{# encart compte #}
					<div class="col-lg-4">
						<div class="blog-sidebar ms-lg-auto">
							<div class="price-widget pt25 widget-mt-minus bdrs8">
								<h4 class="widget-title">Mon Compte</h4>
								<div class="category-list mt20">
									<h5 class="d-flex align-items-center justify-content-between bdrb1 pb-2">
										<span class="text">
											<i class="flaticon-menu text-thm2 pe-2 vam"></i>
											{{user.firstname}}</span>
									</h5>
									<h5 class="d-flex align-items-center justify-content-between bdrb1 pb-2">
										<span class="text">
											<i class="flaticon-menu text-thm2 pe-2 vam"></i>
											{{user.lastname}}</span>
									</h5>
									<h5 class="d-flex align-items-center justify-content-between bdrb1 pb-2">
										<span class="text">
											<i class="flaticon-place text-thm2 pe-2 vam"></i>
											{{user.address}}
										</h5>

										<h5 class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="">
											<span class="text">
												<i class="flaticon-mail text-thm2 pe-2 vam"></i>
												{{user.email}}</span>
										</h5>
										<a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="{{path('app_forgot_password_request')}}">
											<span class="text">
												<i class="fa-solid fa-lock text-thm2 pe-2 vam"></i>
												modifier le mot de passe</span>
										</a>

									</div>
									<div class="d-grid">
										<a href="{{path('app_profil_edit')}}" class="ud-btn btn-thm">Modifier<i class="fal fa-arrow-right-long"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>

	{% endblock %}
