{% extends '@EasyAdmin/page/content.html.twig' %}


{% block main %}

	<div class="container-fluid">
    <h1>Tableau récapitulatif du club : {{ club.name }} ({{club.sport}})</h1>
   <h4>Adresse : {{club.address}}</h4>
    <h5>Nombre de licenciés : {{ licencies|length }}</h5>
    <h2></h2>
    
   
 <!-- *************************************************************** -->
    <!-- Début tableaux du club -->
    <!-- *************************************************************** -->

<!-- multi-column ordering -->
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">liste des licenciés</h4>
                               
                                <div class="table-responsive">
                                    <table id="multi_col_order"
                                        class="table border table-striped table-bordered text-nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Groupes</th>
                                                <th>Licenciés</th>
                                                <th>Email</th>
                                                <th>Commande passée</th>
                                                <th>Montant</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for lic in licencies %}
                                       
                                            <tr>
                                                <td>{{ lic.groupes }}</td>
                                                <td>{{ lic.firstname }} {{lic.lastname}}</td>
                                                <td>{{ lic.email }}</td>
                                                {% if lic.orders is not empty %}
                                                    {% set info = '' %}
                                                    {# Cette partie ajoute les forfaits de chaque commande ainsi que les options #}
                                                {% for infoCMD in lic.orders %}
                                                
                                                    {% set info = info ~ infoCMD.forfait %}
                                                    {# ajout des options à info #}
                                                    {% for liOption in infoCMD.optionLists %}
                                                    
                                                        {% set info = info ~ ' ' ~ liOption.name %}
                                                    {% endfor %}
                                                {% endfor %}
                                                <td>{{info}}</td>
                                                {% set licAmount = 0 %}
                                                {% for cmd in lic.orders %}
                                                    {% set licAmount = licAmount + cmd.amount %}
                                                {% endfor %}
                                                
                                                {% set licAmount = 0 %}
                                                {% for cmd in lic.orders %}
                                                    {% set licAmount = licAmount + cmd.amount %}
                                                {% endfor %}
                                                <td>{{licAmount|format_currency('EUR', {rounding_mode: 'floor'}) }}</td>
                                                {% else %}
                                                <td>non</td>
                                                <td>0€</td>
                                                    
                                                {% endif %}
                                                
                                            </tr>
                                        {% endfor %}
                                            
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>








	</div>
	
  
{% endblock %}
