{% extends '@EasyAdmin/page/content.html.twig' %}


{% block main %}
	<div class="container-fluid">
    <h1>Dashboard</h1>
     <!-- *************************************************************** -->
    <!-- Partie Statistiques -->
    <!-- *************************************************************** -->
		<div class="row">
         <!-- *************************************************************** -->
    <!-- Début stats photos -->
    <!-- *************************************************************** -->
    <div class="col-sm-6 col-lg-3">
    <div class="card border-end">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <h2 class="text-dark mb-1 font-weight-medium">{{ nbPhotos }}</h2>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Photos</h6>
                </div>
                <div class="ms-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted">
                        <i data-feather="user-plus"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- *************************************************************** -->
    <!-- Fin stats photos -->
    <!-- *************************************************************** -->
    <!-- *************************************************************** -->
    <!-- Début stats commandes en cours -->
    <!-- *************************************************************** -->
    <div class="col-sm-6 col-lg-3">
    <div class="card border-end">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <h2 class="text-dark mb-1 font-weight-medium">{{ commandes|filter(com => com.orderStatus == 'En cours de traitement')|length }}</h2>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Commandes en cours</h6>
                </div>
                <div class="ms-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted">
                        <i data-feather="user-plus"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- *************************************************************** -->
    <!-- Fin stats commande en cours-->
    <!-- *************************************************************** -->

     <!-- *************************************************************** -->
    <!-- Début stats du nombre de photos téléchargées -->
    <!-- *************************************************************** -->
    <div class="col-sm-6 col-lg-3">
    <div class="card border-end">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <h2 class="text-dark mb-1 font-weight-medium">{{ downloadedPhotos|length }}</h2>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Photos téléchargées</h6>
                </div>
                <div class="ms-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted">
                        <i data-feather="user-plus"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- *************************************************************** -->
    <!-- Fin stats du nombre de photos téléchargées -->
    <!-- *************************************************************** -->
      <!-- *************************************************************** -->
    <!-- Début stats du nombre des clients (parents) -->
    <!-- *************************************************************** -->
    <div class="col-sm-6 col-lg-3">
    <div class="card border-end">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <h2 class="text-dark mb-1 font-weight-medium">{{ pourcentage|format_currency('EUR', {rounding_mode: 'floor'}) }}</h2>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Somme gagné par le club</h6>
                </div>
                <div class="ms-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted">
                        <i data-feather="user-plus"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- *************************************************************** -->
    <!-- Fin stats du nombre des clients (parents) -->
    <!-- *************************************************************** -->
        </div>
          <!-- *************************************************************** -->
    <!-- Fin Partie Statistiques -->
    <!-- *************************************************************** -->

 <!-- *************************************************************** -->
    <!-- Début tableaux des commandes en cours -->
    <!-- *************************************************************** -->

<!-- multi-column ordering -->
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Commandes en cours</h4>
                                <h6 class="card-subtitle">Tant que le téléchargement de la photo ou la réception du livret n'est pas confirmée, la commande reste en cours de traitement</h6>
                                <div class="table-responsive">
                                    <table id="multi_col_order"
                                        class="table border table-striped table-bordered text-nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Numéro de commande</th>
                                                <th>client</th>
                                                <th>Licencié</th>
                                                <th>Forfait</th>
                                                <th>Prix</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for cmd in commandes %}
                                       
                                            <tr>
                                                <td>{{ cmd.id }}</td>
                                                <td>{{ cmd.users }}</td>
                                                <td>{{ cmd.users.licencies[0] }}</td>
                                                <td>{{ cmd.forfait }}</td>
                                                <td>{{ cmd.amount }}</td>
                                            </tr>
                                        {% endfor %}
                                            
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



<!-- *************************************************************** -->
    <!-- Fin des tableaux des commandes en cours -->
    <!-- *************************************************************** -->
                <!-- *************************************************************** -->
                <!-- Start Sales Charts Section -->
                <!-- *************************************************************** -->
                <div class="row mt-4">
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Total Sales</h4>
                                <div id="campaign-v2" class="mt-2" style="height:283px; width:100%;"></div>
                                <ul class="list-style-none mb-0">
                                    <li>
                                        <i class="fas fa-circle text-primary font-10 me-2"></i>
                                        <span class="text-muted">Direct Sales</span>
                                        <span class="text-dark float-end font-weight-medium">$2346</span>
                                    </li>
                                    <li class="mt-3">
                                        <i class="fas fa-circle text-danger font-10 me-2"></i>
                                        <span class="text-muted">Referral Sales</span>
                                        <span class="text-dark float-end font-weight-medium">$2108</span>
                                    </li>
                                    <li class="mt-3">
                                        <i class="fas fa-circle text-cyan font-10 me-2"></i>
                                        <span class="text-muted">Affiliate Sales</span>
                                        <span class="text-dark float-end font-weight-medium">$1204</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Dernières commandes</h4>
                                <div class="net-income mt-4 position-relative" style="height:294px;">
                               
                                <ul class="list-inline text-center mt-5 mb-2">
                                    {% for cmd in commandes|slice(0,6) %}
                                        
                                    <li class="list-inline-item text-muted fst-italic">{{cmd.users.firstname}} {{cmd.paymentDate|format_datetime('short', 'none', locale='fr')}}</li>
                                    {% endfor %}
                                </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Earning by Location</h4>
                                <div class="" style="height:180px">
                                    <div id="visitbylocate" style="height:100%"></div>
                                </div>
                                <div class="row mb-3 align-items-center mt-1 mt-5">
                                    <div class="col-4 text-end">
                                        <span class="text-muted font-14">India</span>
                                    </div>
                                    <div class="col-5">
                                        <div class="progress" style="height: 5px;">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-3 text-end">
                                        <span class="mb-0 font-14 text-dark font-weight-medium">28%</span>
                                    </div>
                                </div>
                                <div class="row mb-3 align-items-center">
                                    <div class="col-4 text-end">
                                        <span class="text-muted font-14">UK</span>
                                    </div>
                                    <div class="col-5">
                                        <div class="progress" style="height: 5px;">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 74%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-3 text-end">
                                        <span class="mb-0 font-14 text-dark font-weight-medium">21%</span>
                                    </div>
                                </div>
                                <div class="row mb-3 align-items-center">
                                    <div class="col-4 text-end">
                                        <span class="text-muted font-14">USA</span>
                                    </div>
                                    <div class="col-5">
                                        <div class="progress" style="height: 5px;">
                                            <div class="progress-bar bg-cyan" role="progressbar" style="width: 60%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-3 text-end">
                                        <span class="mb-0 font-14 text-dark font-weight-medium">18%</span>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-4 text-end">
                                        <span class="text-muted font-14">China</span>
                                    </div>
                                    <div class="col-5">
                                        <div class="progress" style="height: 5px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-3 text-end">
                                        <span class="mb-0 font-14 text-dark font-weight-medium">12%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- *************************************************************** -->
                <!-- End Sales Charts Section -->
                <!-- *************************************************************** -->

	</div>
	{{ dump(commandes) }}
  
{% endblock %}
