{% extends 'base.html.twig' %}

{% block title %}Commandes
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('datatables.net-bs4/css/responsive.dataTables.min.css') }}">
	<link rel="stylesheet" href="{{ asset('datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">
	<link rel="stylesheet" href="{{ asset('datatables.net-bs4/css/dataTables.bootstrap4.css') }}">
{% endblock %}


{% block body %}
	<div class="row align-items-center justify-content-between pb40">
		<div class="col-xl-4">
			<div class="dashboard_title_area">
				<h2>Liste des commandes</h2>
				<p class="text">Retrouvez ci-dessous la liste de vos commandes réalisées</p>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-xl-12">
			<div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
				<div class="packages_table table-responsive">
					<table id="default_order" class="table border   table-style3 text-nowrap" style="width:100%">

						<thead class="t-head">
							<tr>
								<th scope="col">Numéro de commande</th>
								<th scope="col">Date</th>
								<th scope="col">Montant</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody class="t-body">
						{% if orders|length == 0 %}
							<tr colspan="5" >
							Aucune commande n'a été réalisée
							</tr>
						{% else %}
							{% for command in orders %}

								<tr>
									<th scope="row">
										<div>#{{command.id}}
											
										</div>
									</th>
									<td class="vam">{{command.paymentDate|format_datetime('short', 'none', locale='fr')}}</td>
									<td class="vam">{{command.amount|format_currency('EUR', {rounding_mode: 'floor'})}}</td>
									{% if command.orderStatus == 'En cours de traitement' %}
										<td class="vam">
											<span class="pending-style style1">{{command.orderStatus}}</span>
										</td>
									{% elseif command.orderStatus == 'Traitée' or command.orderStatus == 'Finalisée'  %}
										<td class="vam">
											<span class="pending-style style2">{{command.orderStatus}}</span>
										</td>
									{% else %}
										<td class="vam">
											<span class="pending-style style3">{{command.orderStatus}}</span>
										</td>
									{% endif %}
									<td class="vam">
										<a href="{{path('app_order_details',{'id':command.id})}}" target="_blank" class="table-action fz15 fw500 text-thm2" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
											<i class="fa-regular fa-file-lines"></i>
											Voir</a>
									</td>
								</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
{% block JavaScripts %}
	<script src="{{ asset('datatables.net/js/jquery.min.js')}}"></script>
	<script src="{{ asset('datatables.net/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{ asset('datatables.net/js/datatable-basic.init.js')}}"></script>


{% endblock %}
{% endblock %}
