{% extends 'base.html.twig' %}
{% block body %}
{% block stylesheets %}
	{{ parent() }}
	{# <link rel="stylesheet" href="{{ asset('gallery/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('gallery/css/bootstrap-select.min.css') }}">
	<link rel="stylesheet" href="{{ asset('gallery/css/magnific-popup.css') }}">
	<link rel="stylesheet" href="{{ asset('gallery/css/style.css') }}"> #}


{% endblock %}


<div class="body_content">

  
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="order_complete_message text-center">
              <div class="icon bgc-thm4"><span class="fa fa-check text-thm"></span></div>
              <h2 class="title">Votre commande est confirmée !</h2>
              <p class="text">Merci. Votre commande a bien été prise en compte !</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8 offset-xl-2">
            <div class="shop_order_box mt60">
              <div class="order_list_raw">
                <ul class="d-md-flex align-items-center justify-content-md-between p-0 mb-0">
                  <li class="mb20-sm">
                    <p class="text mb5 font-weight-bold">Numéro de commande</p>
                    <h6 class="mb-0">{{order.id}}</h6>
                  </li>
                  <li class="mb20-sm">
                    <p class="text mb5 font-weight-bold">Date</p>
                    <h6 class="mb-0">{{order.paymentDate|format_datetime('short', 'none', locale='fr')}}</h6>
                  </li>
                  <li class="mb20-sm">
                    <p class="text mb5 font-weight-bold">Total</p>
                    <h6 class="mb-0">{{order.amount|format_currency('EUR', {rounding_mode: 'floor'})}}</h6>
                  </li>
                  <li>
                    <p class="text mb5 font-weight-bold">Mode de paiement</p>
                    <h6 class="mb-0">En ligne</h6>
                  </li>
                </ul>
              </div>
              <div class="order_details default-box-shadow1">
                <h4 class="title mb25 font-weight-bold">Détails de la commande</h4>
                <div class="od_content">
                  <ul class="p-0 mb-0">
                    <li class="bdrb1 mb20"><h6>Produits <span class="float-end">Sous-total</span></h6></li>
                    {% if order.forfait is defined %}
                      
                    <li class="mb20"><p class="body-color">forfait : {{order.forfait.name}} <span class="float-end">{{order.forfait.price|format_currency('EUR', {rounding_mode: 'floor'})}}</span></p></li>
                    {% endif %}
                    {% if order.optionLists is defined %}
                      {% for itemOption in order.optionLists %}
                    <li class="mb20"><p class="body-color">{{itemOption.options.name}} - photo : {{itemOption.photos.id}}  <span class="float-end">{{itemOption.options.price|format_currency('EUR', {rounding_mode: 'floor'})}}</span></p></li>
                    {% endfor %}
                    {% endif %}
                    
                    <li><h6>Total <span class="float-end">{{order.amount|format_currency('EUR', {rounding_mode: 'floor'})}}</span></h6></li>
                  </ul>
                </div>
              </div>
          <div class="d-flex space-between pt-4 justify-content-around">
            <a class="ud-btn btn-thm" href="{{path('app_photos_index')}}">Retour à l'accueil<i class="fa-solid fa-house"></i></a>
            <a class="ud-btn btn-thm" href="{{path('app_order_download',{'uuidOrder':order.uuidOrder})}}" target="_blank">Télécharger les photos<i class="fa-solid fa-download"></i></a>
            <a class="ud-btn btn-thm" href="{{path('app_order')}}">voir les commandes passées<i class="fa-solid fa-tachograph-digital"></i></a>
          </div>
            </div>            
          </div>
        </div>
      </div>
    </section>

   
  </div>

  {% endblock %}
